.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
  .category-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  .product-info {
    font-family: 'ITC';
    color: #555;
    text-align: center;
  
    .product-name {
      font-size: 1.13rem;
      margin: 0;
      text-transform: uppercase;
      padding-top: .6rem;
    }
  
    .product-price {
      font-size: 1.1rem;
      margin: 0;
      margin-top: .2rem;
      font-weight: normal;
    }
  }
}
 