.cart-container {
  margin: 0 20px;
  padding: 20px;
  margin-bottom: 4rem;
    
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2c3e50;
    letter-spacing: 1px;
  }
  .cart-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: 'ITC';

    th{
      text-align: left;
      border-bottom: 1px solid #ebebeb;
      padding: 16px 0;
      font-size: 1.1rem;
    }
    td {
      padding: 22px 0;
      border-bottom: 1px solid #ebebeb;
    }
    
    .cart-item {

      .quantity-controls {
        border: 1px solid rgb(214,209,206);
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 3px;
        width: 6.5rem;
      
        .quantity-btn {
          background: none;
          border: none;
          cursor: pointer;
          width: 43px;
          padding: .4rem .2rem;
      
          &:hover svg {
            fill: #000;
          }
        }
      }
      .remove-btn{
        width: 6.5rem;
        background-color: white;
        color: #96814d;
        text-transform: none;
        font-weight: 100;
        font-size: 1rem;

        span{
          border-bottom: 1px solid #96814d;

          &:hover {
            border-bottom: 1px solid #46360e;
          }
        }

      }

      .product-details {
        display: flex;
        gap: 30px;
        align-items: center;

        img {
          width: 135px;
          height: 160px;
          object-fit: cover;
          border: 1px solid #ddd;
        }
        .product-name{
          font-family: 'ITC';
          color: #555;
          font-size: 1.1rem;
          text-transform: uppercase;
        }
      }
    }
  }
    
  .empty-cart-message {
    text-align: center;
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-top: 50px;
  }
}