header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.custom-submenu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-submenu:hover .custom-submenu-content {
  display: block;
}

.custom-submenu-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navbar-end {
  position: relative;
}

.navbar-end a {
  margin-right: 1.6rem;
}

.items-center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.p-menubar {
  font-family: "ITC";
}

.p-menubar a {
  font-family: "ITC";
  color: rgb(84, 107, 105);
}

.app-global-container {
  width: 100%;
  height: 100%;
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.pi {
  padding-bottom: 0.20rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.navbar {
  background-color: #2c3e50;
  padding: .62rem 1.25rem;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: .94rem;
}

.navbar-list li {
  display: inline;
}

.navbar-list a {
  color: #fff;
  text-decoration: none;
}

.navbar-list a:hover {
  text-decoration: underline;
}

.submenu {
  display: flex;
  align-items: center;
  color: rgb(84, 107, 105);
  cursor: pointer; 
  transition: color 0.3s, background-color 0.3s; 
  position: relative;
  text-transform: uppercase; 
  margin-left: 0; 
  background-color: transparent;
}

.submenu:hover {
  background-color: transparent; 
}

.submenu:hover > span,
.submenu:hover > i {
  color: rgb(116, 123, 255); 
}

.submenu-content {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  z-index: 10;
  width: 200px; 
  padding-left: 0;
}

.submenu:hover .submenu-content {
  display: block; 
}

.submenu-content li {
  list-style: none;
  padding: 0.5rem 1rem;
  color: rgb(84, 107, 105); 
  transition: background-color 0.3s, color 0.3s; 
  display: flex; 
  align-items: center;
  cursor: pointer;
  text-transform: uppercase; 
  margin-left: 0; 
}

.submenu-content li:hover {
  background-color: #f3f4f6; 
  color: rgb(116, 123, 255);
}

.submenu-content li:hover > a {
  color: rgb(116, 123, 255); 
}

.search-results-container {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%; 
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 0.5rem; 
  border-radius: 4px;
  max-height: 300px; 
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem 1rem;
  color: rgb(84, 107, 105);
  cursor: pointer; 
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  margin-left: 0; 
  transition: background-color 0.3s, color 0.3s; 

  li{
    width: 100%;
  }
  img {
    width: 4.5rem; 
    height: 4.5rem;
    object-fit: cover;
    border-radius: 0.25rem;
  }
}

.search-results-container li:hover{
  background-color: #f3f4f6;
}

.search-results-container p {
  margin: 0;
  font-size: 0.875rem;
  color: #555;
}